# pandas - partie 2

Dans la première partie, nous avons vous l'objet qui se trouve au coeur de la librairie pandas, cousine de numpy. Pour rappel, un dataframe ressemble à un tableau excel où chaque colonne possède un nom. Ainsi, il est dit que les données d'un dataframe sont tabulaires.

La partie 1 du TP pandas a été l'occasion de travailler avec de petits dataframes, toutefois en Big Data, ce n'est pas des dataframes de moins de 10 lignes avec lesquels nous travaillons, mais en général plus de 100 000. Bien évidemment, nous n'allons pas écrire des fichiers de plus de 100 000 à la main et encore moins dans un notebook, et ici qu'entre en jeu le format csv.

Comma-separated values ou csv est un format de fichier représentant des valeurs tabulaires sous forme de valeurs séparées par des virgules. 
![csv](../_images/csv.jpg)
- [En savoir plus sur le format csv (wikipedia)](https://fr.wikipedia.org/wiki/Comma-separated_values)

Il est possible de transformer un fichier tableur (.xls, .xslx, .odf...) en fichier csv, il suffit juste à la sauvegarde de préciser le format csv. 

![sauvegarde-csv](../_images/sauvegarde-csv.jpg)

Et ce format est très bien géré par pandas, et ce, même quand le fichier possède des millions de lignes. Pour ce faire il nous faut utiliser la méthode `pd.read_csv("chemin-du-fichier.csv")`. Bien évidemment, il faut penser à importer pandas avant avec la ligne suivante `import pandas as pd`.

# Pour les utilisateurs de Google colab

Petit apparté pour les utilisateurs de google colab. Pour utiliser la méthode `pd.read_csv()`, il faudra rajouter quelques lignes de codes supplémentaires pour pouvoir charger un fichier, les voici.


```python
# Première cellule jupyter
from google.colab import files
uploaded = files.upload()
```

```python
# Seconde cellule jupyter
import io
# Très important : le nom du fichier passé en paramètre de la fonction "uploaded" doit avoir le même nom que le fichier que vous avez uploadé
df = pd.read_csv(io.BytesIO(uploaded['nom-du-fichier-uploader.csv']))
```

- [Voir plus  d'informations](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92)

Et ces données, on les trouve où ? Il existe beaucoup de sources, dans le cadre de cette pratique, nous allons utiliser le site des données ouvertes du gouvernement français (et de l'insee, les deux sont liés). Et plus précisément celui des naissances de 1900 et 2019 par département (fichier présent dans la ressource).

- [Voir site des données ouvertes du gouvernement](https://www.data.gouv.fr/)
- [Voir site des données ouvertes de l'insee](https://www.insee.fr/fr/statistiques?categorie=1)
- [Voir source du fichier de données des prénoms](https://www.insee.fr/fr/statistiques/2540004?sommaire=4767262#consulter)

Première étape : Charger le fichier
- **Petite note** : Malgré la taille du fichier (~9 Mo), ce dernier possède plus de 3 500 000 lignes. Si on essaye d'ouvrir le fichier avec OpenOffice Calc (équivalent Open Source d'excel), on a le droit au message suivant :
![erreur chargement](../_images/erreur-chargement-calc.jpg)
Heureusement, nous utilisons pandas nous allons pouvoir ouvrir le fichier sans encombres.

Première étape : Charger le fichier

In [ ]:
# Utilisateurs de Google Colab
# pensez bien à utiliser uploader le fichier 
# avec le code plus haut dans cette cellule

In [12]:
import pandas as pd
# On charge le fichier dans une cellule spécifique. Pourquoi ? On veut éviter de charger ce gros fichier régulièrement.
# Si nous utilisez Google Colab, ça devrait aller plus vite.
liste_prenoms_source = pd.read_csv("dpt2019.csv", sep=";") # le fichier est chargé en tant que DataFrame


Lorsque vous chargez un DataFrame, la première chose à faire est de l'explorer. On essaye de répondre aux questions suivantes :
- Combien de lignes possède-t-il ?
-

In [13]:
liste_prenoms_source.head()

   sexe        preusuel annais dpt  nombre
0     1  _PRENOMS_RARES   1900  02       7
1     1  _PRENOMS_RARES   1900  04       9
2     1  _PRENOMS_RARES   1900  05       8
3     1  _PRENOMS_RARES   1900  06      23
4     1  _PRENOMS_RARES   1900  07       9

In [11]:
display(liste_prenoms_source)

        sexe;preusuel;annais;dpt;nombre
0            1;_PRENOMS_RARES;1900;02;7
1            1;_PRENOMS_RARES;1900;04;9
2            1;_PRENOMS_RARES;1900;05;8
3           1;_PRENOMS_RARES;1900;06;23
4            1;_PRENOMS_RARES;1900;07;9
...                                 ...
3676677                 2;ZYA;2018;59;3
3676678               2;ZYA;XXXX;XX;252
3676679                2;ZYNA;2013;93;3
3676680               2;ZYNA;XXXX;XX;54
3676681             2;ZYNEB;XXXX;XX;111

[3676682 rows x 1 columns]

In [ ]:
L'intérêt des index est de perm